@media screen and (max-width:1200px) {
	.list-inline-item {
		padding-bottom: 20px;
	}

	.ml-4 {
		float: center;
		width: 270px;
	}

	.row {
		padding-right: 4px;
		padding-bottom: 10px
	}

	i {
		text-align: right;
	}
}